#products {
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#products>div {
    width: 18%;
    border: 1px solid black;
    text-align: center;
}

#products>div>img {
    width: 100%;
    height: 250px;
}
#singlePro{
    cursor: pointer;
}